
/*Base styles*/

/* Box Model Hack */
{
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}


body {
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	color: black;
	line-height: 32px;

}

h1, h2 {
	font-family: 'Domine';
	text-align: center;
}

h1 {
	font-size: 60px;
	color: white;
	padding: 160px 400px 0 40px;
}

h2 {
	font-size: 60px;
	padding: 100px 0 60px 0;
	margin: auto;
}

a {
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	color: #ff8fd2;
}

.navbar {
	background: white;
	height: 60px;
	position: fixed;
	width: 100%;
	left: 0;
	transition: top 0.2s ease-in-out; /*animate on scroll*/

}

.nav-down{
     top: 0;
 }

 .nav-up {
	top: -60px;
}

.topnav {
	padding-top: 18px;
}

.topnav li {
	display: inline;
	font-size: 22px;
	padding: 0 40px 0 20px;
	float: right;
	font-family: 'Open Sans Condensed', sans-serif;
}


.topnav a:hover {
	color: #ff8fd2;
}

#intro {
	background: url(../images/kyoto/golden-temple.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	height: 800px;
}

#tokyo {
	background: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.5)), url(../images/tokyo/tokyo-city2.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	height: 900px;
	display: block;
	border-top: 6px solid black;
}

#kyoto {
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../images/kyoto/forest2.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	height: 900px;
	display: block;
	border-top: 6px solid black;
}

#osaka {
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../images/osaka/indoor-mall.jpg) no-repeat center top;
	background-size: cover;
	background-attachment: fixed;
	height: 900px;
	display: block;
	border-top: 6px solid black;
}

.summary {
	display: block;
	width: 70%;
	text-align: center;
	margin: 0 auto 100px;
	font-size: 26px;
 	background:rgba(255,255,255,0.8);
 	padding: 15px;
}

.list-title {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	font-size: 28px;
	margin: 10px;
}

.list {
	margin: 60px 20px 20px 60px;
	padding: 20px 40px 20px 20px;
	background: rgba(255,255,255,0.8); /*linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8));*/
	border-top: 4px solid black;
}


.hitlist {
	width: 280px;
	margin: 100px 20px 20px 170px;
	display: inline-block;
}

.observations {
	width: 350px;
	margin: 20px;
	display: inline-block;
}

ul, li {
	list-style: circle;
	font-size: 18px;
	line-height: 24px;
}

ul {
	padding: 10px 0 0 50px;
}


.list1 {
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../images/tokyo/observatory2.jpg) no-repeat center top;
	background-size: cover;
	background-attachment: fixed;
	height: 800px;
	display: block;
	border-top: 6px solid black;
}

.list2 {
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../images/kyoto/kyoto-view.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	height: 800px;
	display: block;
	border-top: 6px solid black;
}

.list3 {
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../images/kyoto/temple.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	height: 800px;
	display: block;
	border-top: 6px solid black;
}

.media-opener {
	display: block;
	text-align: center;
	padding-top: 50px;
}

.video-opener img{
	width: 7%;
	padding: 0 5px;
	display: inline-block;
}

.tokyo-video {
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../images/kyoto/bamboo.jpg) no-repeat center top;
	background-size: cover;
	background-attachment: fixed;
	height: 800px;
	display: block;
	border-top: 6px solid black;
}


.kyoto-video {
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../images/kyoto/bamboo.jpg) no-repeat center top;
	background-size: cover;
	background-attachment: fixed;
	height: 800px;
	display: block;
	border-top: 6px solid black;
}

.osaka-video {
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../images/kyoto/bamboo.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	height: 800px;
	display: block;
	border-top: 6px solid black;
}

iframe {
	display: block;
	margin: 30px auto;
	border: 2px solid black;
}

.slideshow-section {
	border-top: 6px solid black;
	background-color: #f2f2f5;
}


.media-opener img {
	width: 5%;
	padding: 0 5px;
}


.slideshow {
	padding: 40px 20px 80px 20px;
	margin: 0 50px;
}

  /* the slides */
 .slick-slide {
    margin-left: 27px;
    overflow: hidden;
  }

  /* the parent */
 .slick-list {
    margin-left: -27px;
    overflow: hidden;
  }


.slideshow img {
	height: 370px;
	width: auto;
}

.slick-prev:before, .slick-next:before {
    color: black !important;
}


/*Responsive styling*/

@media (max-width: 480px) {
	
	body {
		max-width: 480px;
	}

	#intro h1 {
		font-size: 50px;
		padding: 100px 50px 0 0;
		line-height: 60px;
	}

	.topnav {
		float: none;
		margin: auto;
		padding: 20px 40px 20px 20px;
	}

	h2 {
		padding: 40px 0;
		font-size: 40px;
	}

	#tokyo .summary {
		margin-bottom: 60px;
	}

	.summary {
		font-size: 20px;
		line-height: 24px;
	}


	iframe {
		max-width: 350px;
		width: 100%;
	}

	.media-opener img {
	width: 10%;
	}

	.hitlist {
		max-width: 350px;
		margin: 40px 20px 20px 25px;
		box-sizing: border-box;
		width: 100%;
	}

	.observations {
		max-width: 350px;
		margin: 20px 20px 40px 25px;
		box-sizing: border-box;
		width: 100%;
	}
	
	.list {
		padding: 15px 30px 15px 15px;
	}


  	/* the slides */
 	.slick-slide {
    	margin-left: 0;
    	overflow: hidden;
  	}

}

@media (min-width: 481px) and (max-width: 768px) {
	
	body {
		max-width: 768px;
	}

	#intro h1 {
		font-size: 48px;
		padding: 100px 40px 0 20px;
		line-height: 80px;
	}

	h2 {
		font-size: 48px;
	}

	.summary {
		font-size: 22px;
		line-height: 30px;
	}

	.media-opener img {
	width: 8%;
	}

	.slick-slide {
    	margin-left: 0;
    	overflow: hidden;
  	}

  	.hitlist {
  		margin: 40px 20px 0 60px;
  		width: 400px;
  	}

  	.observations {
  		margin: 20px 20px 20px 100px;
  		margin: 40px 20px 20px 60px;
  		width: 400px;
  	}




