/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}


body {
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
}

h1, h2 {
	font-family: 'Domine';
	text-align: center;
}

h1 {
	font-size: 68px;
	color: white;
	padding: 140px 320px 0 40px;
}

h2 {
	font-size: 60px;
	padding: 60px 0;
	margin: auto;
}

a {
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	color: #ff7cd5;
}
/*

.navbar {
	padding: 18px;
	background: white;
	position: fixed;
	top: 0;
	transition: top 0.2s ease-in-out;
	width: 100%;
}*/

.navbar {
	background: white;
	height: 60px;
	position: fixed;
	left: 0;
	transition: top 0.2s ease-in-out;
	width: 100%;
}

.nav-down{
     top: 0;
 }

 .nav-up {
	top: -60px;
}

.topnav {
	padding-top: 18px;
}

.topnav li {
	display: inline;
	font-size: 22px;
	padding: 0 20px;
	float: right;
}

.topnav a {
	color: white;
}

.topnav a:visited {
	color: white;
}

#intro {
	background: url(../images/header-3.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	height: 800px;
}

#tokyo {
	background: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)), url(../images/tokyo-city2.jpg) no-repeat center top;
	background-size: cover;
	background-attachment: fixed;
	height: 900px;
	display: block;
}

#kyoto {
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../images/forest2.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	height: 900px;
	display: block;
}

#osaka {
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../images/indoor-mall.jpg) no-repeat center top;
	background-size: cover;
	background-attachment: fixed;
	height: 900px;
	display: block;
}

.summary {
	display: block;
	width: 70%;
	text-align: center;
	margin: 0 auto 100px;
	font-size: 26px;
 	background:rgba(255,255,255,0.7);
 	padding: 5px;
}

.list-title {
	font-family: Shadows Into Light Two, cursive;
	text-align: center;
	font-size: 28px;
	margin: 10px;
}

.list {
	display: inline-block;
	margin: 60px 20px 20px 60px;
	padding: 20px 40px 20px 20px;
	background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7));
	border-top: 4px solid #ff8fd2;
}

ul, li {
	list-style: circle;
	font-size: 18px;
	line-height: 24px;
}

ul {
	padding: 10px 0 0 50px;
}

.list1 {
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../images/ramen.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	height: 600px;
	display: block;
}

.list2 {
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../images/meji.jpg) no-repeat center bottom;
	background-size: cover;
	background-attachment: fixed;
	height: 600px;
	display: block;
}

.list3 {
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../images/sushi.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	height: 800px;
	display: block;
}

.list4 {
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../images/temple.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	height: 800px;
	display: block;
}

.list5 {
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../images/canyon.jpg) no-repeat center top;
	background-size: cover;
	background-attachment: fixed;
	height: 800px;
	display: block;
}

.list6 {
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../images/tattoo.jpg) no-repeat center top;
	background-size: cover;
	background-attachment: fixed;
	height: 800px;
	display: block;
}

.tokyo-video {
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../images/sumo-handsup.jpg) no-repeat center top;
	background-size: cover;
	background-attachment: fixed;
	height: 800px;
	display: block;
	padding: 80px 40px 20px 40px;
}


.kyoto-video {
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../images/monkey.jpg) no-repeat center top;
	background-size: cover;
	background-attachment: fixed;
	height: 800px;
	display: block;
	padding: 80px 40px 20px 40px;
}

.osaka-video {
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../images/book-cafe.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	height: 800px;
	display: block;
	padding: 80px 40px 20px 40px;
}

iframe {
	display: block;
	margin: 0 auto;
	border: 2px solid white;
}

/*

.slideshow {
	display: inline-block;
	margin: 50px auto 100px;
}


.slideshow img {
	height: 250px;
	width: auto;
	display: inline;
}
*/



@media (max-width: 480px) {
	
	body {
		max-width: 480px;
	}

	h1 {
		font-size: 58px;
		padding: 100px 50px 0 0;
	}

	.topnav {
		float: none;
		margin: auto;
		padding: 20px 20px 20px 40px;
	}

	#intro h1 {
		padding: 40px 40px 0 20px;
	}

	#tokyo h2 {
		padding: 40px 0;
	}

	#tokyo .summary {
		margin-bottom: 60px;
	}

	.summary {
		font-size: 20px;
	}

	.hitlist {
		max-width: 400px;
		margin: 60px 20px 20px 60px;
	}

	.observations {
		max-width: 400px;
		padding: 15px 18px 15px 15px;
		margin: 60px 30px 20px 30px;
	}

	iframe {
		max-width: 350px;
		width: 100%;

	}

}


